h1,h2,h3,h4,h5,h6{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #07031a; 
}

body{
  font-family: "Roboto", sans-serif;
}

/* Header */ 

.main-header{
  height: 90px;
}

.title-header{
  background-color:#383838 ;
  font-family: 'Recursive', sans-serif; 
  width: 70%;
  float: left;
  height: inherit;
  padding-left: 3%;
  /*display: flex;*/
  vertical-align: center;  
}

.title-heading{
  color: white;
}   

.nav-header{
  background-color:#f1f6f9 ;
  font-family: 'Recursive', sans-serif;
  font-weight: lighter;
  width: 27%;
  float: right;
  height: inherit;
  text-align: center;
  padding: 0 0;
}

ul{
  list-style-type: none;
  padding: 5%;
}

li{
  display: inline;
  padding: 0 5%;
}

a{
  color:#097392;
  text-decoration: none;
}

a:hover{
  color:#83b483;
}


/* Main image */
.container{
  height: 90vh;
  background-image: url('../images/main-img3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin: 1% auto;
}
 .info{
  position: relative;
  top: 57%;
  text-align: center;
  color: rgb(87, 84, 84);
  font-size: large;
  line-height: 2;
}

.button1{
  position: relative;
  top: 60%;
  left: 35%;
}

.button2{
  position: relative;
  top: 60%;
  left: 45%;

}

.form-pt1{
  position: relative;
  top: 60%;
  left: 40%;
  width: 45%;
  float: left;
  padding: auto 5%;
  text-align: left;
}
.form-pt2{
  position: relative;
  top: 60%;
  right: 5%;
  width: 45%;
  float: right;
  padding: auto 5%;
  text-align: left;
}


input[type=button],input[type=submit],input[type=reset]{
  
  text-align: center;
  color: white; 
  background-color: #9ba4b4;
  border: none;
  border-radius: 10px;
  padding: 1.5% 3%;
  font-size: large;
}

input[type=button]:hover,input[type=submit]:hover,input[type=reset]:hover{
  background-color: #097392;
}


.content{
  background: rgba(0,0, 0,0.2);
  color: #eeeeee;
  text-align: center;
  word-spacing: 5px; 
  letter-spacing: 1px;
  /*width: 100%;*/
  font-family: 'Recursive', sans-serif; 
}

.top{
  position: relative ;
  top: 150px;  
}

/* Articles */

.section-header{
  text-align: center;
  background-color:#394867; 
  /*width: 100%;*/
  padding: 0.5%;
}

.section-heading{
  color: white;
}


.content{
  /*float: left;
  width: 70%;*/
  padding-bottom: 3%;
  margin-bottom: 1%;
  background-color: #eeeeee;
  color: darkslategrey;
}

.content-title{
  padding-top: 2%;
  color: #394867;
}


/* Footer */

.footer-container{
  text-align: center;  
  background-color:#394867;
  color: #eeeeee;
  padding: 1%;
}

.footer-container a{
  color: #eeeeee;
}

.footer-items{
  padding:0.5% 1%;
}

